body{
    padding-top: 25px;
    background-color: #eee
}
ul, ol, li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/** General Css for mobile and other devices */
.container {
	width: 100%;
}

.footer{
	text-align: center;
	margin-top: 20px;
}

.jumbotron{
	margin-bottom: 0px;
}

img {
 	border: solid 1px;
 	width: 100%;
}
.local{		
	margin-top: 10px;
}

.video{
 	background-color: black;
 }

/*	color schemes	*/
.colorGreen	{	color: green !important;	}
.colorOrange	{	color: orange !important;	}
.colorRed	{	color: red !important;	}
.colorGrey	{	color: grey !important;	}
.colorBlue	{	color: blue !important;	}

#chatbox	{
	outline:none;
  	border:solid 1px #BBB;
  	font-size:15px;
  	margin-top: 10px;
  	height: 150px;
  	background-color: #fff;
  	margin-bottom: 10px;
  	overflow: scroll;
  	overflow-x: hidden;
  	padding: 10px;
}
#chatbox	p	{
	font-size: 90%;
	margin-bottom: 5px;
}